<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.gradle_mybatis_c3p0_teacher.dao.BoardDao">

	<sql id="boardSql">
	<![CDATA[
		select bno, title, content, writer, regdate, viewcnt from tbl_board
	]]>
	</sql>

	<sql id="boardSqlCnt">
	<![CDATA[
		select count(bno) 
		  from tbl_board 
	]]>
	</sql>
	
	<sql id="search">
		<choose>
			<when test='searchType==null or searchType.equals("n")'>
				<where><![CDATA[ bno > 0 ]]></where>
			</when>
			<when test='searchType.equals("t")'>
				<where>title like #{keyword}</where>
			</when>
			<when test='searchType.equals("c")'>
				<where>content like #{keyword}</where>
			</when>
			<when test='searchType.equals("w")'>
				<where>writer like #{keyword}</where>
			</when>
			<when test='searchType.equals("tc")'>
				<where>(title like #{keyword}) or (content like #{keyword})</where>
			</when>
			<when test='searchType.equals("cw")'>
				<where>(content like #{keyword}) or (writer like #{keyword})</where>
			</when>
			<when test='searchType.equals("tcw")'>
				<where>(title like #{keyword}) or (content like #{keyword}) or (writer like #{keyword})</where>
			</when>
		</choose>
	</sql>
	
	<select id="getList" resultType="Board">
		<include refid="boardSql"/>
	</select>
	
	<insert id="insertBoard" parameterType="Board">
	<![CDATA[
		insert into tbl_board(title, content, writer) 
		values (#{title}, #{content}, #{writer});
	]]>
	</insert>
	
	<select id="readBoard" resultType="Board">
		<include refid="boardSql"/>
		<![CDATA[
		where bno = #{bno}
		]]>
	</select>
	
	<delete id="deleteBoard">
	<![CDATA[
		delete from tbl_board where bno = #{bno}
	]]>
	</delete>
	
	<update id="updateBoard" parameterType="Board">
	<![CDATA[
		UPDATE tbl_board
	]]>
		<set>
			<if test="title != null">title=#{title},</if>
			<if test="writer != null">writer=#{writer},</if>
			<if test="content != null">content=#{content},</if>
		</set>
	<![CDATA[
		WHERE bno=#{bno};
	]]>
	</update>
	
	<select id="getListCriteria" resultType="Board" parameterType="SearchCriteria">
		<include refid="boardSql"/>
		<include refid="search"/>
		order by bno desc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="listSearchCount" resultType="int" parameterType="SearchCriteria">
		<include refid="boardSqlCnt"/>
		<include refid="search"/>
	</select>
	
	<select id="getNextBno" resultType="int">
		<![CDATA[
		select max(bno)+1 
		  from tbl_board 
	]]>
	</select>

</mapper>